.parent-panel {
    z-index: 5;
    width: 200px;
    height: 200px;
    background-color: purple;
    margin-top: 10px;
    position: relative;
    z-index:0;
    overflow:hidden;
  }
  
  .child-panel {
    background-color: yellow;
    overflow:hidden;
    transition:1s all;
  }
  
  .content {
    width: 50px;
    height: 100px;
    background-color: blue;
    margin: 50px auto;
  }
  
  #slide-right .child-panel {
    transform:translateX(-100%);
  }
 
  #slide-right:hover .child-panel{
    transform:translate(0);
  }