* { Box-sizing: Border-box }

.mycontainer{
    white-space: nowrap;
    overflow-x: hidden;
    width: 204px;   
}
.box{
    display:inline-block;
    border: 2px black solid;
  padding: 20px;
    width: 200px;
    height: 100px;
    vertical-align:top;
  background-color:pink;
}
.box2{
    background-color:yellow;
}
.car {
    position: absolute;
    width:300px;
    left:-80px;
    top:20px;
    transform: rotate(-2deg);
}

.text-wrapper {
    width:100%;
    position: absolute;
    top:70%;
    left:25%;
    transform: translate(-50%,-40%);
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-wrapper h2 {
    padding:0;
    margin:0;
}
#slide_button {
    position: absolute;
    top:45%;
    left:46%;
    height:43px;
    width:43px;
    border-radius: 100%;
    border:none;
    background-color: #EA6601;
    box-shadow: 0 2px 5px  rgba(148, 148, 148, 0.4);
    padding: 0;
    margin:0;
    font-size: 10px;
    color: white;
    border:1px solid #5F1100;
}
#slide_button:hover {
    cursor: pointer;
}

#content {

    width:350px;
    height:450px;
    background: linear-gradient(to bottom, #00c3ff 0%,#00c3ff 50%,#40acff 51%,#40acff 100%);
    /* background:#40ACFF; */
    box-shadow: -4px 10px 10px rgba(0,0,0,.4);
    border-radius:20px 0px 0px 20px;
    
}

#slide {
    display:none;
    
    color: #fff;
    overflow: hidden;
    width:300px;
    height:450px;
    border-radius:0px 20px 20px 0px;
    box-shadow: 5px 5px 15px 0px rgba(168,168,168,1);
    
}
.wrapper {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    grid-gap: 1px;
}